<%= form_for @book do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :author %>
  <%= f.select :author_id, Author.all.map { |author| [author.name, author.id]} %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <div>
    <%= f.label :genres %>
    <%= collection_check_boxes(:book, :genre_ids, Genre.all, :id, :name) %>
  </div>

  <%= f.submit %>

<% end %>
