<h2><%= @book.title %></h2>
<%= random_image(300, 400) %>
<section class="inline">
  <h3>~<%= @book.author.name %></h3>
  <p><%= @book.description %></p>
  <p>Date created: <%= readable_date(@book.created_at) %>
  </p>
</section>


<h3>Genres:</h3>
<ul>
  <% @book.genres.each do |genre| %>
    <li>
      <%= genre.name %>
    </li>
  <% end %>
</ul>

<ul>
  <li><%= link_to "Edit", edit_book_path %></li>
  <li><%= link_to "Delete", book_path(@book.id), method: :delete %></li>
</ul>
